<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Why Recycling Is Important</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"
</head>
<body>
    <h1>What Is Recycling?</h1>
    <p1>Recycling is when you collect and process materials into new products that would have been thrown away otherwise.</p1>



    <h1>Why Is Recycling Important?</h1>
    <p2>Recycling is important because it helps preserve the environment and combat pollution and climate change. From looking at the most recent EPA(Environment Protection Agency) studies, over 180 metric tons of carbon dioxide equivilant was saved in 2018. 180 metric tons is about the annual electricity use of over 1,100 households throughout the US. Recycling also conserves energy, and studies have shown that recycling just 10 plastic waterbottles saves enough energy to power a laptop for over 20 hours! Overall, recycling is important because it helps save energy and reduce climate change, which will help our resources and world last longer.</p2>
    
    <h1>What Can You Recycle?</h1>
    <p3>You can recycle paper objects, glass objects, plastic objects, metal objects, and electronics. Paper objects consist of newspapers, cardboard, cereal boxes, and paper bags. Glass objects are bottles, jars, and containers. Plastic objects consist of water bottles, milk jugs, food containers, and plastic bags. Metal objects are aluminum, steel, and tin cans, as well as aluminum foil. Electronics that you can recycle are computers, smartphones, TV's, and printers. Next time you are going to throw any of these objects, think about how you can help the environment and recycle!</p3>
    
    <h1>How Can You Recycle?</h1>
    <p4>You can recycle by going to any of the locations on the locator page and recycle there. You can also reduce waste by buying more reusable things like bags . If you want to go a step further, organize a recycling drive in your neighborhood. Collect all the recyclable items and take them to a local recycling center. Go recycle!</p4>
    <div class="button-container">
        <a href="/" style="text-decoration: none;">
            <button style="background-color: #4CAF50; /* Green background */
                            border: none;
                            color: white; /* White text */
                            padding: 10px 20px; /* Increased padding for bigger size */
                            text-align: center; /* Center text */
                            text-decoration: none; /* Remove underline */
                            display: inline-block; /* Display as inline block */
                            font-size: 12px; /* Increased font size */
                            margin: 10px auto; /* Center horizontally with margin */
                            transition-duration: 0.4s; /* Transition duration */
                            cursor: pointer; /* Cursor pointer */">
                Back to Locator
            </button>
        </a>
        
    </div>
    
</body>
</html>